@model bookingflightmvcUI.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airport.AirportName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.departureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.departureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.arrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.arrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AircraftType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AircraftType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ticketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ticketPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberOfStops)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberOfStops)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seatClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seatClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.baggageRegulations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.baggageRegulations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ancillaryServices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ancillaryServices)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
