@model PaginatedList<bookingflightmvcUI.Models.Flight>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="my-2">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="airportId">Airport</label>
            <select class="form-select" asp-items="ViewBag.AirportId" id="airportId" name="airportId">
                <option selected>Airport</option>

            </select>
        </div>

        <div class="col-12">
            <label class="visually-hidden">Search by title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" name="SearchString" placeholder="Search by title" value="@ViewData["CurrentFilter"]">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a asp-action="Index" class="btn btn-dark">Reset</a>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Flight Name</a>
            </th>

            <th>
                Airport
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Departure Time</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Arrival Time</a>
            </th>
            <th>
                AircraftType
            </th>
            <th>
                TicketPrice
            </th>
            <th>
                Duration
            </th>
            <th>
               NumberOfStops
            </th>
            <th>
                SeatClass
            </th>
            <th>
                BaggageRegulations
            </th>
            <th>
                AncillaryServices
            </th>
            <th></th>
        </tr>
    </thead>
   <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.FlightName
            </td>
           
            <td>
                @item.Airport.AirportName
            </td>
            <td>
                @item.departureTime
            </td>
            <td>
                @item.arrivalTime
            </td>
            <td>
                @item.AircraftType
            </td>
            <td>
                @item.ticketPrice
            </td>
            <td>
                @item.duration
            </td>
            <td>
                @item.numberOfStops
            </td>
            <td>
                @item.seatClass
            </td>
            <td>
                @item.baggageRegulations
            </td>
            <td>
                @item.ancillaryServices
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
